body, html {
	height: 100%;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: #F8C687;
}

/*Vertical Navigation*/

.sectiondot {
	position: relative;
	width: 1rem;
	height: 1rem;
	/*background-color: yellow;*/
	background-color: #D4E332;
	display: inline-block;
	float: right;
	transform: scale(0.75);
	border-radius: 50%;
}

.sectionname {
	font-family: "Nunito";
	font-weight: bold;
	padding-right: 0.75rem;
}

.vertical-navigation-container {
    position: fixed;
    right: 2.5rem;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.vertical-navigation {
	/*background-color: gray;*/
}

.vertical-navigation a {
	text-decoration: none;
	color: #2819D1;
}

.vertical-navigation div {
	margin-bottom: 0.25rem;
}

.vertical-navigation .sectionname {
	opacity: 0;
	transition: opacity 0.5s;
}

.vertical-navigation a:hover .sectionname {
	opacity: 1;
}

.vertical-navigation a.is-selected .sectiondot {
	/*background-color: blue;*/
	background-color: #2819D1;
	transform: scale(1)
}

.vertical-navigation a:hover span{
	transform: scale(1);
}

.vi-section{
	min-height: 100%;
	position: relative;
}


/*
	Make header section
*/

/*
.section-header {
	width: 0;
	height: 0;
	border-top: 250px solid #FF9800;
	border-right: 250px solid transparent;
}

.section-header-title {
    position: absolute;
    top: 0;
    display: block;
    font-size: 50px;
    padding-left: 15px;
    color: #2196F3
}
*/

.section-header {
    width: 0;
    height: 0;
    padding-bottom: 15%;
    padding-left: 15%;
    overflow: hidden;
}

.section-header:after {
    content: "";
    display: block;
    margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid;
	border-left-color: #000;
}
/*
#section2 .section-header:after {
	border-left-color: #000;
}

#section3 .section-header:after {
	border-left-color: #F44336;
}

#section4 .section-header:after {
	border-left-color: #FF9800;
}*/

/*
	Make header title
*/

.section-header-title {
    font-family: "Nunito";
    font-weight: bold;
	position: absolute;
/*	font-size: 40px;
	margin-left: 15px;*/
	font-size: 2.5em;
	margin-left: 0.25em;
	color: #FFF;
}

/*#section2 .section-header-title {
	color: #FFF;
}

#section3 .section-header-title {
	color: #4CAF50;
}

#section4 .section-header-title {
	color: #2196F3;
}

*/
/*
	Main content of section of each page
*/

.section-content {
	/*background-color: #E0E0E0;*/
    height: 100%;
    width: 75%;
    position: absolute;
    right: 10%;
    top: 0;
}

/*
	Projects presentation
*/

#section3 {
	background-color: #F76160;
}

.projects .project-link {
	text-decoration: none;
	color: black;
}

.stock-market-project {
	width: 48%;
	height: 75vh;
	background-color: white;
	box-sizing: border-box;
	border: solid 1em;
	margin-top: 12.5vh;
	display: inline-block;
}

.tic-tac-toe-project {
	width: 48%;
	height: 75vh;
	background-color: white;
	box-sizing: border-box;
	border: solid 1em;
	margin-top: 12.5vh;
	display: inline-block;
	float: right;
}

/*HAVE TO ADD IE10 version of flex box*/
.projects-row {
	/*height: 50%;*/
	display: flex;
	position: relative;
	background-color: #212121;
}

.projects-row:hover .project-heading {
	opacity: 0.1;
}

.projects-row:hover::after {
	height: 100%;
}

.projects-row::after {
	background-color: #B46E3C;
	/*background-color: white;*/
	bottom: 0;
	content: '';
	height: 0%;
	left: 0;
	position: absolute;
	width: 2em;
	-webkit-transition: all 0.45s ease;
	transition: all 0.45s ease;
}

.projects-row .project-heading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
    background-color: #7DCC93;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 3em;
}

.project-description {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	color: white;
	padding-left: 1.5em;
	font-family: 'Antic Slab', serif;
	font-size: 1.5em;
}

.project-description:hover {
	opacity: 1;
}

/*Home Page CSS*/
/*.home-page img {
	width: 100%;
	height: 100%;
}*/

.home-page {
	background-color: #000;
}

.home-page video {
	width: 100%;
	height: 100%;
}

.content-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-page-content {
    border: solid 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    width: 60%;
    height: 68%;
}

.home-page-text {
    font-family: "Nunito";
    font-weight: bold;
}

.home-page-image {
	width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
    padding-left: 2rem;
}

/*.content-container .test {
	width: 100%;
	display: inline-block;
	color: white;
}*/

.home-page-text .heading-one {
	font-size: 6.25rem;
}

@media screen and (max-width: 1000px) {
	.home-page-text .heading-one {
		/*color: blue;*/
		/*font-size: 12px;*/
		font-size: 10.25rem;
	}
}

.home-page-text .heading-two {
	font-size: 2.5rem;
}

/*About Page*/

.about .icon { 
	width: 125px;
	height: 125px;
}

.code .info-details {
	font-size: 1.23em;
}

#section2 {
	background-color: #BEE1DD;
}

.info-heading {
    font-family: "Nunito";
    font-weight: bold;
    font-size: 2em;
}

.about.section-content {
	display: flex;
	flex-wrap: wrap;
}

.info {
	width: 45%;
	height: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-sizing: border-box;
	border: solid 0.4em;
	margin: 1em;
}

.info-details {
	text-align: center;
    font-family: 'Antic Slab', serif;
	font-size: 1.5em;
}

/* testing */

.vertical-navigation a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none !important;
}

/*Link for the projects*/
.projectLink1 {
	display: block;
}

/*Contact Page*/
/*Contact Mail Form*/

#section4 {
	background-color: #F8C687;
	/*overflow: auto;*/
}

.contact-mail-form {
    height: 75%;
}

.contact .section-content{
	/*display: flex;*/
	/*align-items: center;*/
	font-size: 16px;
	font-family: 'Antic Slab', serif;
}

.contact-page-title {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	font-family: "Nunito";
	margin-bottom: 2em;
	margin-top: 0.5em;
}

.mail-container {
	width: 100%;
}

.mail-container div {
	position: relative;
}

.mail-container input {
	background: none;
	border: none;
	border-bottom: 0.1em solid #000;
	outline:none;
	position: relative;
	z-index: 1;
	transition: border-color 500ms ease;
	width: 100%;
	font-size: 2em;
	font-family: 'Antic Slab', serif;
}

.mail-container label {
	/*font-weight: bold;*/
	position: absolute;
	font-size: 2em;
	top: 0;
	left: 0;
	-webkit-transition: -webkit-transform 500ms ease;
	transition: transform 500ms ease;
}

.mail-container input:focus + label, .mail-container input:valid + label {
	/*color: orange;*/
	transform: translate3d(0, -1.5em, 0);
	-webkit-transform: translate3d(0, -1.5em, 0);
}

.mail-container input:focus {
	border-color: orange;
}

.contact-information {
	display: flex;
	flex-direction: row;
}

.contact-column {
	flex-grow: 1;
}

.contact-column div:nth-child(2) {
    margin-top: 4.5em;
}

.contact-column:nth-child(2) {
    margin-left: 2em;
}

.contact-form-message {
	border-bottom: 0.1em solid #000;
	z-index: 1;
	transition: border-color 500ms ease;
	font-size: 2em;
	outline: none;
	margin-top: 2em;
}

.contact-form-message-active {
	/*color: orange;*/
	transform: translate3d(0, -1.5em, 0);
	-webkit-transform: translate3d(0, -1.5em, 0);
}

.contact-form-message:focus {
	border-color: orange;
}

.contact-submit {
	margin-top: 4.5em;
	text-align: center;
}

.contact-submit-button {
	position: relative;
	padding: 1.25em 1.25em;
	border: #ff4c2e;
	background: #ff4c2e;
	color: #fff;
	cursor: pointer;
	line-height: 1;
	z-index: 0;
	outline: none;
	width: 20em;
	font-family: "Nunito";
	font-weight: bold;
}

.contact-submit-button:after {
	position: absolute;
	content: "";
	background: #000;
	width: 0;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
/*	transition: all 500ms ease 0s;
	-webkit-transition: all 500ms ease 0s;*/
	transition: all 500ms;
	-webkit-transition: all 500ms;
}

.contact-submit-button:hover:after {
	width: 100%;
}

/*Used to highlight the fields that need to be filled out*/

.required-fields .contact-form-message {
	border-color: red;
}

.required-fields .contact-form-message:focus {
	border-color: orange;
}

.required-fields input {
	border-color: red;
}

.required-fields label {
	color: red;
}

/*contacts page icons*/

.contact-sites {
	display: flex;
	width: 125%;
    margin-left: -15%;
    margin-top: 4em;
}

.contact-sites div{
	flex: 1;
	display: flex;
	align-items: center;
}

.contact-sites .description {
	margin-left: .35em;
}

/*Fixed Contact Container*/

.fixed-contacts-container {
	position: fixed;
	z-index: 1;
	height: 100%;
	display: flex;
	align-items: center;
}

/*.fixed-contacts {
	background-color: gray;
	opacity: 0.7;
}*/

.github-logo {
    padding: 2rem 0.65rem;
}

.linkedin-logo {
    padding: 0px 0.65rem;
}

.gmail-logo {
    padding: 2rem 0.65rem;
}

/*.fixed-contacts div {
	color: white
}*/
/*
.github-logo {
	background-image: url('../logos/testLogos/github-logo.png');
}

.linkedin-logo {
	background-image: url('./logos/testLogos/linkedin-button.png');
}

.gmail-logo {
	background-image: url('./logos/testLogos/google-plus-logo-button.png');
}
*/
.fixed-contact-icon {
	/*background: url(../logos/testLogos/github-logo.png) repeat 0 0;*/
	/*background-image: url('../logos/testLogos/github-logo.png');*/
	background: white;
	cursor: pointer;
    border-radius: 100%;
    border: solid;
    color: white;
}

.fixed-contact-icon:hover {
	opacity: 1;
}